@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PatrickHand";
  src: url("../public/fonts/PatrickHand.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Avoids a bug where flow edges are clipped when they extend outside the 'viewport' element */
.react-flow svg {
  overflow: visible;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes chunkydashdraw {
  0% {
    stroke-dashoffset: 16;
  }
}

.react-flow__edge-path {
  stroke-width: 4 !important;
  stroke-dasharray: 8 !important;
  animation: chunkydashdraw 0.5s linear infinite !important;
  stroke: white !important;
}
